{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/medicine.png'%}">
</head>
<header>
<style>
    header {
        background-color: rgb(45, 116, 17);
    
    }
    a {
        text-decoration:underline;
        color:white;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic;

    }
    
    .nav { 
        text-align: end;
        width:50%;
        margin: auto;
        display:flex;
        justify-content:space-between;       
        padding-top: 35px;
    }
</style>

    <nav class="nav">

        
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'Doctor' %}">Doctor</a>
    <a href="{% url 'Patient' %}">Patient</a>
    <a href="{% url 'Appointment' %}">Appointment</a>
    <a href="{% url 'Discharge' %}">Discharge</a>
    <a href = "{% url 'logout' %}">Logout</a>
        
    </nav>
</header>